<script>
  $(function(){

    var breakdown = {{ breakdown.to_json( labels=descriptions['functional'] )|safe }},
        getBreakdownValue = getBreakdownValueFunction('expense', '{{ latest_budget.name()|safe }}'),
        gridData = breakdownToTable(breakdown),
        myGrid;


    // Set house tax values & callback
    var parseValue = function(elemSelector) {
      var value = parseFloat($(elemSelector).val().replace(/\./g, '').replace(/,/, '.')).toFixed(0);
      if (isNaN(value)) {
        $(elemSelector).val('')
        value = 0;
      }
      return value;
    }

    var calculateHouseTax = function(selector, value, bonus) {
      var taxRate = 0.00564
      var taxValue = value * taxRate

      var bonusRate = bonusRateCalculator(selector)(value, bonus);
      var bonusValue = taxValue * bonusRate;

      if ( (selector === TaxReceipt.taxes.house.selector && bonus === '4') ||
           (selector === TaxReceipt.taxes.houseExtra.selector && bonus === '3') ) {
        bonusValue = Math.min(bonusValue, 300)
      }

      return taxValue - bonusValue;
    }

    var bonusRateCalculator = function (selector) {
      switch(selector) {
        case TaxReceipt.taxes.house.selector:
          return bonusRateForHouse;
          break;
        case TaxReceipt.taxes.houseExtra.selector:
          return bonusRateForHouseExtra;
      }
    }

    var bonusRateForHouse = function (value, bonus) {
      switch(bonus) {
        case '1':
          return 0.5;
          break;
        case '2':
          if (value <= 77598) {
            return 0.5;
          } else if (value <= 121000) {
            return 0.4;
          } else if (value <= 242000) {
            return 0.3;
          } else if (value <= 363000) {
            return 0.2;
          } else {
            return 0.1;
          }
          break;
        case '3':
          if (value <= 77598) {
            return 0.9;
          } else if (value <= 121000) {
            return 0.8;
          } else if (value <= 242000) {
            return 0.6;
          } else if (value <= 363000) {
            return 0.4;
          } else {
            return 0.2;
          }
          break;
        case '4':
          return 0.5;
          break;
        default:
          return 0;
      }
    }

    var bonusRateForHouseExtra = function(_value, bonus) {
      switch(bonus) {
        case '1':
          return 0.5;
          break;
        case '2':
          return 0.95;
          break;
        case '3':
          return 0.5;
          break;
        default:
          return 0;
      }
    }

    TaxReceipt.taxes.houseExtra          = { selector: 'extra-house' };
    TaxReceipt.taxes.houseExtra.callback =
    TaxReceipt.taxes.house.callback      = function(selector, values) {
      var value = parseValue('#select-'+selector);
      var bonus = $('#select-'+selector+'-bonus').val()

      var tax = calculateHouseTax(selector, value, bonus)

      return tax >= 5 ? tax : 0;
    }

    // Set vehicles tax values & callback
    TaxReceipt.taxes.vehicle.values        = [0, 8.5, 25, 68, 143.5, 179, 224];
    TaxReceipt.taxes.vehicleExtra.values   = [0, 8.5, 25, 68, 143.5, 179, 224];

    TaxReceipt.taxes.vehicle.callback      =
    TaxReceipt.taxes.vehicleExtra.callback = function(selector, values) {
      var value = values[$('#select-'+selector).val()];
      var bonus = [0, 1, 0.5, 0.5, 1, 0.75][$('#select-'+selector+'-bonus').val()];
      return value * (1-bonus);
    }
    // Set parking tax values
    TaxReceipt.taxes.parking.values = [0, 158, 210];

    // Remove garbage tax
    delete TaxReceipt.taxes.garbage;

    // Override redrawGrid method
    TaxReceipt.redrawGrid = function() {
      if ( myGrid !== undefined ) {
        myGrid.destroy();
      }

      myGrid = createBudgetGrid('#myGrid', gridData, [
        { data: 'label', title: '{{ _("Política") }}', render: getPolicyLinkFormatter() },
        {
          data:   getBreakdownValue,
          title:  '{{ _("Gasto") }}',
          render: TaxReceipt.calculatePersonalTax,
          year:   breakdown.years['{{ latest_budget.name()|safe }}']
        }
      ]);
    };

    // Initialize tax receipt
    TaxReceipt.setup( breakdown, getBreakdownValue );

    // Currency mask for house value inputs
    var houseElemSelectors = ['#select-house', '#select-extra-house']
    for (var i = 0; i < houseElemSelectors.length; i++) {
      (function(elemSelector) {
        $(elemSelector).change(function() {
          $(elemSelector).val(parseValue(elemSelector).replace(/(\d)(?=(?:\d{3})+\b)/g, '$1.'));
        });
        $(elemSelector).on('keypress', function(event) {
          var keycode = event.which;
          if (keycode == 13)
            $(elemSelector+'-bonus').trigger('focus');
        });
      })(houseElemSelectors[i]);
    }

  });
</script>
