<form class="form-user-incomings" action="#" method="get">

  <div class="row">
    <p>{{ _('VIVIENDA HABITUAL') }}</p>
    <div class="form-group">
      <label for="select-house">{{ _('Introduce el valor catastral') }}</label>
      <div class="input-group">
        <input id="select-house" type="text" class="form-control">
        <div class="input-group-addon">€</div>
      </div>
    </div>
    <div class="select-info">{{ _('IBI') }}: <span id="select-house-tax"></span></div>
    <div class="form-group" style="clear: both">
      <label for="select-house-bonus">{{ _('Bonificación IBI') }}</label>
      <select id="select-house-bonus" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Ninguna') }}</option>
        <option value="1" type="text">{{ _('Vivienda protección pública (3 primeros años)') }}</option>
        <option value="2" type="text">{{ _('Familia numerosa general') }}</option>
        <option value="3" type="text">{{ _('Familia numerosa especial') }}</option>
        <option value="4" type="text">{{ _('Vivienda con sistemas de aprovechamiento de la energía solar (máximo 3 años)') }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <p>{{ _('VIVIENDA ADICIONAL') }}</p>
    <div class="form-group">
      <label for="select-extra-house">{{ _('Introduce el valor catastral') }}</label>
      <div class="input-group">
        <input id="select-extra-house" type="text" class="form-control">
        <div class="input-group-addon">€</div>
      </div>
    </div>
    <div class="select-info">{{ _('IBI') }}: <span id="select-extra-house-tax"></span></div>
    <div class="form-group" style="clear: both">
      <label for="select-extra-house-bonus">{{ _('Bonificación IBI') }}</label>
      <select id="select-extra-house-bonus" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Ninguna') }}</option>
        <option value="1" type="text">{{ _('Vivienda protección pública (3 primeros años)') }}</option>
        <option value="2" type="text">{{ _('Vivienda integrada en programa municipal de alquiler o cesión social') }}</option>
        <option value="3" type="text">{{ _('Vivienda con sistemas de aprovechamiento de la energía solar (máximo 3 años)') }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="select-vehicle">{{ _('Vehículo') }}</label>
      <select id="select-vehicle" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Ninguno') }}</option>
        <option value="1" type="text">{{ _('Ciclomotores hasta 49 cc o motocicletas hasta 125 cc') }}</option>
        <option value="2" type="text">{{ _('Coche muy pequeño (menos de 8 caballos fiscales)') }}</option>
        <option value="3" type="text">{{ _('Coche pequeño (entre 8 y 12 caballos fiscales)') }}</option>
        <option value="4" type="text">{{ _('Coche mediano (entre 12 y 16 caballos fiscales)') }}</option>
        <option value="5" type="text">{{ _('Coche grande (entre 16 y 20 caballos fiscales)') }}</option>
        <option value="6" type="text">{{ _('Coche muy grande (más de 20 caballos fiscales)') }}</option>
      </select>
    </div>
    <div class="select-info">{{ _('Impuesto a vehículos motorizados') }}: <span id="select-vehicle-tax"></span></div>
    <div class="form-group" style="clear: both">
      <label for="select-vehicle-bonus">{{ _('Bonificación') }}</label>
      <select id="select-vehicle-bonus" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Ninguna') }}</option>
        <option value="1" type="text">{{ _('Vehículo a nombre de discapacitados para su uso exclusivo (grado igual o superior al 33%)') }}</option>
        <option value="2" type="text">{{ _('Vehículo histórico (art. 1 RD 1247/1995)') }}</option>
        <option value="3" type="text">{{ _('Vehículo con antiguedad entre 25 y 50 años') }}</option>
        <option value="4" type="text">{{ _('Vehículo con antiguedad superior a 50 años') }}</option>
        <option value="5" type="text">{{ _('Vehículo clasificado por la DGT como "Cero emisiones" o "Eco"') }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="select-extra-vehicle">{{ _('Vehículo adicional') }}</label>
      <select id="select-extra-vehicle" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Ninguno') }}</option>
        <option value="1" type="text">{{ _('Ciclomotores hasta 49 cc o motocicletas hasta 125 cc') }}</option>
        <option value="2" type="text">{{ _('Coche muy pequeño (menos de 8 caballos fiscales)') }}</option>
        <option value="3" type="text">{{ _('Coche pequeño (entre 8 y 12 caballos fiscales)') }}</option>
        <option value="4" type="text">{{ _('Coche mediano (entre 12 y 16 caballos fiscales)') }}</option>
        <option value="5" type="text">{{ _('Coche grande (entre 16 y 20 caballos fiscales)') }}</option>
        <option value="6" type="text">{{ _('Coche muy grande (más de 20 caballos fiscales)') }}</option>
      </select>
    </div>
    <div class="select-info">{{ _('Impuesto a vehículos motorizados') }}: <span id="select-extra-vehicle-tax"></span></div>
    <div class="form-group" style="clear: both">
      <label for="select-extra-vehicle-bonus">{{ _('Bonificación') }}</label>
      <select id="select-extra-vehicle-bonus" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Ninguna') }}</option>
        <option value="1" type="text">{{ _('Vehículo a nombre de discapacitados para su uso exclusivo (grado igual o superior al 33%)') }}</option>
        <option value="2" type="text">{{ _('Vehículo histórico (art. 1 RD 1247/1995)') }}</option>
        <option value="3" type="text">{{ _('Vehículo con antiguedad entre 25 y 50 años') }}</option>
        <option value="4" type="text">{{ _('Vehículo con antiguedad superior a 50 años') }}</option>
        <option value="5" type="text">{{ _('Vehículo clasificado por la DGT como "Cero emisiones" o "Eco"') }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="select-parking">{{ _('¿Tienes un vado?') }}</label>
      <select id="select-parking" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('No') }}</option>
        <option value="1" type="text">{{ _('Sí, horario permanente hasta 3 metros') }}</option>
        <option value="2" type="text">{{ _('Sí, horario permanente hasta 4 metros') }}</option>
      </select>
    </div>
    <div class="select-info">{{ _('Tasa') }}: <span id="select-parking-tax"></span></div>
  </div>

</form>

<div id="tax-amount">
  <p>{{ _('Contribuyes con un total de <strong id="tax-amount-paid"></strong> a los presupuestos del Gobierno de Aragón')|safe }}.</p>
</div>
